@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.quicksand-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* shared style */
.section-width{
    max-width: 1220px;
}

.orange{
    color: rgba(254, 163, 1, 1);
}

.skyblue{
    color: rgba(1, 172, 253, 1);
}

.O5D4DF{
    color: rgba(5, 212, 223, 1);
}
.purple{
    color: rgba(93, 88, 239, 1);
}

.title-section{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header */
.icon-hamburger{
    display: none;
}

.logo{
    max-width: 200px;
    max-height: 62px;
    display: flex;
    gap: 11px;
    align-items: center;
}

.logo h1{
    font-weight: 600;
    font-size: 1.9rem;
}

nav{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;;
}

nav ul {
    display: flex;
    gap: 32px;
}

.Home{
    font-weight: 700;
}

nav button{
    width: 197px;
    height: 50px;
    background: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
}

/* Section starts here */

.section-hero{
    max-height: 575px;
    margin: 20px auto 60px auto;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.hero-info{
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.hero-info h1{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 61px;
    margin-bottom: 0;
}

.hero-info p{
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
}

.hero-info button{
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    background: black;
    width: 197px;
    height: 50px;
}

.hero-img-container{
    width: 468px;
    height: 575px;
} 
    /* need to change in future if needed for image fluidity */

.section-hero img{
    width: 100%;
    height: 100%;
}

/* Curriculam Section */

.section-curriculam{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    /* margin: 60px auto; */
    height: 879px;
    background-image: url(../assets/bg.png);
    background-position: right 1px bottom 110px;
}

.section-curriculam h1{
    text-align: center;
}

.cards-curriculam{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 1160px;
    height: 481px;
    gap: 28px;
}

.card-curric{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 476px;
    gap: 4px;
    border-radius: 18px;
}

.card-blue-grad{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 10%, rgba(240, 250, 255, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(222, 245, 255, 1), 0 6px 6px 0 rgba(240, 250, 255, 1);
    border: 1px solid rgba(222, 245, 255, 1);
}

.card-curric-img-container{
    width: 136px;
    height: 136px;
}

.card-curric img{
    width: 100%;
    height: 100%;
}

.card-curric h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-curric p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    line-height: 28.3px;
    width: 286px;
}

.card-curric a{
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
}

.card-orange-grad{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 10%, rgba(255, 250, 240, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(255, 244, 220, 1), 0 6px 6px 0 rgba(255, 250, 240, 1);
    border: 1px solid rgba(255, 244, 220, 1);
}

.card-purple-grad{
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1) 10%, rgba(248, 242, 255, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(242, 232, 255, 1), 0 6px 6px 0 0 rgba(248, 242, 255, 1);
    border: 1px solid rgba(242, 232, 255, 1);
}

.slide-button {
    margin-top: 80px;
    font-size: 35px;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer; 
}

.slide-button:hover { 
    transform: scale(1.05);
}


/* .slide-button:hover .button-icon {
    transform: translateX(5px);
} */

/* Responsive */

@media screen and (max-width: 576px) {

    /* Shared width for mobile */
    /* .mobile-width{
        margin-left: 16px;
        margin-right: 16px;
    } */
    
    .width-mobile{
        max-width: 357px;
    }
    /* mobile design */
    body{
        margin: 0;
    }

    nav ul, nav button, .logo h1, .slider{
        display: none;
    }
    
    header{
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }

    .icon-hamburger{
        display: block;
        width: 40px;
        height: 40px;
    }

    /* Section hero */

    .section-hero{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 357px;
        max-height: 725px;
    }

    .hero-info{
        text-align: center;
        align-items: center;
        width: 357px;
        height: 300px;
    }

    .hero-img-container{
        width: 336px;
        height: 413px;
    } 

    .hero-info h1{
        font-size: 32px;
        line-height: 40px;
        width: 357px;
    }
    .hero-info p{
        width: 357px;
        height: 354px;
        line-height: 26px;
        font-size: 24px;
    }

    .hero-info button{
        width: 160px;
        height: 150px;
        padding: 9px 24px;
        
    }
    /* section-curriculam */

    /* .section-curriculam{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
        height: 879px;
        background-image: url(../assets/bg.png);
        background-position: right 1px bottom 110px;
    } */

    

    .cards-curriculam{
        margin-top: 100px;
        flex-direction: column;
        gap: 12px;
        width: 357px;
        height: 3000px;
    }
    /* .card-curric{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 367px;
        height: 476px;
        gap: 4px;
        border-radius: 18px;
    } */

    .card-curric{
        width: 347px;
        height: 400px;
        padding: 31px 81px;
    }

    .card-curric-img-container{
        width: 92px;
        height: 92px;
    }
}