@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.quicksand-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* shared style */
.section-width{
    max-width: 1220px;
}

.orange{
    color: rgba(254, 163, 1, 1);
}

.skyblue{
    color: rgba(1, 172, 253, 1);
}

.O5D4DF{
    color: rgba(5, 212, 223, 1);
}
.purple{
    color: rgba(93, 88, 239, 1);
}

.green-btn{
    background: rgba(149, 178, 38, 1);
    color: #FFFFFF;
}

.vi-btn{
    background: rgba(93, 88, 240, 1);
    color: #FFFFFF;
}

.title-section{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header */
.icon-hamburger{
    display: none;
}

.logo{
    max-width: 200px;
    max-height: 62px;
    display: flex;
    gap: 11px;
    align-items: center;
}

.logo h1{
    font-weight: 600;
    font-size: 1.9rem;
}


nav{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;;
}

nav ul {
    display: flex;
    gap: 32px;
}

.Home{
    font-weight: 700;
}

nav button{
    width: 197px;
    height: 50px;
    background: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
}

/* Section starts here */

.section-hero{
    max-height: 575px;
    margin: 20px auto 60px auto;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.hero-info{
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.hero-info h1{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 61px;
    margin-bottom: 0;
}

.hero-info p{
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
}

.hero-info button{
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    background: black;
    width: 197px;
    height: 50px;
}

.hero-img-container{
    width: 468px;
    height: 575px;
} 
    /* need to change in future if needed for image fluidity */

.section-hero img{
    width: 100%;
    height: 100%;
}

/* Curriculam Section */

.container-curriculam{
    min-width: 1440px;
    height: 1010px;
    background-image: url(../assets/bg.png);
    background-position: left 10px bottom 240px;
}

.section-curriculam{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin: 60px auto; */
    height: 879px;
    
}

.section-curriculam h1{
    margin-top: 60px;
    text-align: center;
}

.cards-curriculam{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 1220px;
    height: 481px;
    gap: 28px;
}

.card-curric{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 476px;
    gap: 33px;
    border-radius: 18px;
}

.card-blue-grad{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 10%, rgba(240, 250, 255, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(222, 245, 255, 1), 0 6px 6px 0 rgba(240, 250, 255, 1);
    border: 1px solid rgba(222, 245, 255, 1);
}

.card-curric-img-container{
    width: 136px;
    height: 136px;
}

.card-curric img{
    width: 100%;
    height: 100%;
}

.card-curric h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-curric p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    line-height: 28.3px;
    width: 286px;
}

.card-curric a{
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
}

.card-orange-grad{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 10%, rgba(255, 250, 240, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(255, 244, 220, 1), 0 6px 6px 0 rgba(255, 250, 240, 1);
    border: 1px solid rgba(255, 244, 220, 1);
}

.card-purple-grad{
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1) 10%, rgba(248, 242, 255, 1) 16%, white 74%);
    box-shadow: 0 0 1px 0 rgba(242, 232, 255, 1), 0 6px 6px 0 0 rgba(248, 242, 255, 1);
    border: 1px solid rgba(242, 232, 255, 1);
}

/* .slider{
    width: 130px;
    height: 60px;
} */

.slide-button {
    margin-top: 80px;
    margin-bottom: 120px;
    font-size: 35px;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer; 
}

.slide-button:hover { 
    transform: scale(1.05);
}

/* Stories-Section starts here */

.container-stories{
    min-width: 1440px;
    /* background: linear-gradient(to top, rgba(254, 163, 1, 0.3) 10%, rgba(254, 163, 1, 0.3) 16%, white 74%), url(../assets/bg.png); */
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3) 10%, rgba(254, 163, 1, 0.3) 16%, white 74%), url(../assets/bg.png) center/cover no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.section-stories{
    height: 1018px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
}

.cards-stories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 19px;
    /* justify-items: end;
    align-items: start; */
}

.card-story{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    /* border: 1px solid black; */
    border-radius: 16px;
    /* overflow: hidden; */
    background: white;
}

.card-story img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-story h4{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 28px;
}

.card-story button{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28px;
    width: 174px;
    height: 38px;
    border-radius: 47px;
    border: none;
    position: absolute;
    bottom: 70px;
}

.card1{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 540px;
    height: 630px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.story-info{
    position: relative;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card1 h4{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 47px;
}

.card1 p{
    color: rgba(102, 102, 102, 1);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 34px;
}

.card1 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card1 button{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    background: rgba(60, 216, 232, 1);
    width: 174px;
    height: 47px;
    border-radius: 47px;
    border: none;
    position: relative;
    bottom: 25px;
}

.section-stories > button{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    width: 197px;
    height: 50px;
    border: 0;
    border-radius: 12px;
    background: black;
    color: #FFFFFF;
}

/* Footer Section Starts */

.container-footer{
    min-width: 1440px;
    background: rgba(1, 172, 253, 1);
}

.section-footer{
    height: 519px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
}

.logo-footer-container{
    width: 299px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo-footer-container h2{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

.footer-logo p{
    width: 399px;
    height: 100px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-nav ul li{
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
    list-style: none;
}

.h4 h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-nav ul li:hover{
    cursor: pointer;
}

.footer-links h4{
    width: 177px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 26px;
}

.footer-links{
    width: 198px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 32px;
}

marquee{
    color: rgb(230, 117, 31);
    font-weight: 700;
    font-size: 2rem;
    background: rgba(205, 174, 207, 0.915);
    padding: 2px;
    /* border: 1px solid rgb(206, 235, 131); */
    box-shadow: 5px -12px 20px 5px rgb(219, 74, 221), -4px 1px 20px 7px rgba(255, 250, 240, 1);
}

/* .slide-button:hover .button-icon {
    transform: translateX(5px);
} */

/* Responsive */

@media screen and (max-width: 576px) {

    /* Shared width for mobile */
    
    .width-mobile{
        min-width: 390px;
    }
    /* nav mobile design */
    body{
        margin: 0;
    }

    nav ul, nav button, .logo h1, .slider, .card1{
        display: none;
    }

    nav{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }

    .icon-hamburger{
        display: block;
        width: 40px;
        height: 40px;
    }

    /* Section hero mobile */

    .section-hero{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 357px;
        max-height: 725px;
    }

    .hero-info{
        text-align: center;
        align-items: center;
        width: 357px;
        height: 300px;
    }

    .hero-img-container{
        width: 336px;
        height: 413px;
    } 

    .hero-info h1{
        font-size: 32px;
        line-height: 40px;
        width: 357px;
    }
    .hero-info p{
        width: 357px;
        height: 354px;
        line-height: 26px;
        font-size: 24px;
    }

    .hero-info button{
        width: 160px;
        height: 150px;
        padding: 9px 24px;
        
    }
    /* section-curriculam-mobile */

    .container-curriculam{
        min-width: 390px;
    }

    .cards-curriculam{
        margin-top: 100px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;
        width: 357px;
        height: 3000px;
    }
    
    .card-curric{
        width: 347px;
        height: 400px;
        padding: 31px 81px;
    }

    .card-curric-img-container{
        width: 92px;
        height: 92px;
    }

    /* Section-stories-mobile */
    .container-stories{
        min-width: 390px;
    }

    .section-stories{
        width: 80%;
        height: 1768px;
        margin-bottom: -450px;
    }

    .cards-stories{
        grid-template-columns: 1fr 1fr;
        
    }

    .story-info button{
        width: 103px;
        height: 22px;
        font-size: 50%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 30px ;
    }

    .story-info{
        width: 100%;
        position: relative;
    }

    .story-info h4{
        position: relative;
        bottom: 23px;
    }

    /* footer-mobile-design */

    /* .container-footer{
        min-width: 1440px;
        background: rgba(1, 172, 253, 1);
    }
    
    .section-footer{
        height: 519px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 100px;
        margin-left: auto;
        margin-right: auto;
    } */

    .container-footer{
        min-width: 390px;

    }

    .section-footer{
        min-width: 350px;
        margin: 0 20px;
        height: 900px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 0px;
    }
    .footer-logo{
        
    }
    .footer-logo p{
        max-width: 320px;
    }

    .footer-nav ul{
        margin-left: -35px;
    }

}